@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*
{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
li
{
    list-style: none;
}
a
{
    text-decoration: none;
}

/* ============= HEADER ================ */

/* NAV-BAR */

nav
{
    height: 5rem;
    background-color: white;
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav img
{
    width: 7%;
    height: 10rem;
    margin-top: 3rem;
    object-fit: cover;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
nav ul .active{
    color: #f90;
}
nav ul li a{
    color: #6B6B6B;
}
nav ul li a::after
{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #f90;
    margin: auto;
    display: block;
    transition: 0.5s;
}
nav ul li a:hover::after
{
    width: 100%;
}
.right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.sign a
{
    margin-right: 0.6rem;
    color: white;
    background-color: #f90;
    padding: 0.4rem 0.8rem;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.3s;
}
.sign a:hover
{
    border: 2px solid #f90;
    background-color: transparent;
    color: #6B6B6B;
}
nav form select
{
    border: none;
    outline: none;
}


/* ============= MAIN ================ */

/* BANNER */

.banner{
    height: 80vh;
    background-color: #F5DBB1;
    padding: 2em 3rem;
    display: flex;
    align-items: center;
}
.text-content h1{
    width: 60%;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 3rem;
}
.text-content p{
    color: #6B6B6B;
    width: 40%;
    margin-block: 1.5rem;
}

.text-content a{
    padding: 0.7rem 5rem;
    color: white;
    background-color: #f90;
    border: 2px solid transparent;
    border-radius: 10px;
    transition: 0.3s;
}
.text-content a:hover
{
    border: 2px solid #f90;
    background-color: transparent;
    color: #6B6B6B;
}

.img-content img{
    width: 100%;
    clip-path: circle();
}






/* SECTION ONE */
.sec-one
{
    margin-top: 2.5rem;
}
.sec-one > p
{
    color: #6B6B6B;
    text-align: center;
}
.sec-one > h2
{
    font-weight: 400;
    color: #f90;
    margin-block: 0.8rem;
    text-align: center;padding: 1rem 3rem;
}
.sec-one .wrapper-sec-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.sec-one .wrapper-sec-one .item img{
    width: 40%;
    clip-path: circle();
}
.sec-one .wrapper-sec-one .item .title{
    font-weight: 400;
    margin-block: 1rem;
    color: #555;
}
.sec-one .wrapper-sec-one .item p{
    color: #6B6B6B;
    font-size: 1rem;
    width: 80%;
    margin-inline: auto;
}




/* SECTION TWO */
.sec-two{
    padding: 5rem 3rem 0rem;
}

.sec-two-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}
.sec-two-wrapper .item-1{
    width: 48%;
}
.sec-two-wrapper .item-1 h1
{
    color: #555555;
    font-weight: 700;
    font-size: 2.1rem;
}
.sec-two-wrapper .item-1 p
{
    color: #6B6B6B;
    size: 0.9rem;
}

.sec-two-wrapper .item-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    align-items: center;
    background-color: #FAFAF9;
    padding: 0.8rem 0.8rem;
}
.sec-two-wrapper .item-2 .lunch
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.sec-two .item-2 .lunch a
{
    padding: 0.4rem 1rem;
    background-color:  #EEEDED;
    color: #222;
    border-radius: 10px;
}
.sec-two .item-2 .lunch a:hover
{
    background-color: #f90;
    opacity: 0.5;
}
.sec-two .item-2 .lunch .active
{
    background-color: #f90;
    color: white;
}
.sec-two-wrapper .item-2 .sec-two-images{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;
}
.sec-two-wrapper .item-2 .sec-two-images div{
    width: 100%;
}
.sec-two-wrapper .item-2 .sec-two-images div img{
    width: 15rem;
    height: 15rem;
    object-fit: cover;
}




/* SECTION THREE */

.sec-three
{
    padding: 5rem 3rem 0rem;
}
.sec-three-wrapper
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.sec-three-wrapper .item1
{
    width: 100%;
    height: 20rem;
}
.sec-three-wrapper .item1 img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sec-three-wrapper .item2
{
    width: 97%;
    text-align: end;
}
.sec-three-wrapper .item2 h1
{
    color: #555555;
    font-weight: 700;
    font-size: 2.1rem;
}
.sec-three-wrapper .item2 p
{
    color: #6B6B6B;
    size: 0.9rem;
}