
/*Import style from google front*/
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Lato:wght@100;300;400;700;900&family=Noto+Serif:ital,wght@0,200;1,300&family=Poppins:wght@300;500;600;800;900&family=Roboto:wght@700&display=swap');

/*This is a way of setting global variables, that is.. reoccuring styles(colour, font-size,spacing ee.t.c.) that you need thru the project*/
:root{
    --primarycolor: #3fd0d4;
    --mainwhite: #fff;
    --offwhite: #f7f7f7;
    --mainblack: #222;
    --maingrey: #ececec;
    --darkgrey: #afafaf;
    --mainTransition: all 0.3s linear;
    --mainSpacing: 0.25rem;
    --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.25;)
    --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5)
}

/* The universal selector, set padding and margin to zero*/
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* navigation bar: display flex property makes all in the nav bar display in an in-line manner, justify-content creates a space
between the contents, padding creates regular spaccing within the header box in this instant, the 1rem represents the amount of spacing btw the top and bottom while the 5rem represets spacing to the right and left sides*/
nav{
    display: flex;
    justify-content: space-between;
    padding: 1.0rem 5rem;
    background-color: var(--mainwhite);
}

/*The gap is used to create space between the list items in this case*/
ul{
    display: flex;
    list-style: none;
    gap: 0.8rem;
    font-size: 1.05rem;
    font-weight: 300;
}
.nav-list a{
    text-decoration: none;
    color: var(--mainblack);
    letter-spacing: var(--mainSpacing);
    
}

.nav-list a:hover{
    color: var(--primarycolor);
    transition: var(--mainTransition); 
}

.nav-icons{
    display: flex;
    align-items: center;
    gap: 0.6rem;

}
.nav-icons a{
    color: var(--primarycolor);
    font-size: 1.35rem;
}
.nav-icons a:hover{
    opacity: 0.5;
    transition: var(--mainTransition);
}

/*Adding background image*/
header{
    background: linear-gradient(rgba(63, 208, 212, 0.7), rgba(0, 0, 0, 0.7)), url('./images/main.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

/*the selector position: with value absolute..floats the content for it to be moved around above the other design...top,left=50% 50% directs the content to the middle
transform: translate -50% -50% directs it to the center*/
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--mainwhite);
    width: 80%;
}
    
.content h2{
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 4.5rem;
    font-weight: 600;
    letter-spacing: 3px;
}

.content p{
    margin: 0.75rem 3rem;
    padding: 0 3rem;
    font-size: 1.05rem;
    letter-spacing: var(--mainSpacing);
    font-weight: 300;
    margin-bottom: 2.5rem;
    
}

.content a{
    color: var(--primarycolor);
    text-decoration: none;
    letter-spacing: var(--mainSpacing);
    background-color: var(--mainwhite);
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border: 2px solid var(--mainwhite);
}

.content a:hover{
    background-color: transparent;
    color: var(--mainwhite);
    transition: var(--mainTransition);
}

#about{
    padding-bottom: 4rem;
}

#about h3{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 2.75rem;
    font-weight: 600;
    letter-spacing: var(--mainSpacing);
    margin: 3.5rem 0 2rem 0;
}

#about h3 span{
    color: var(--primarycolor);
}
.row{
    display: flex;
}

#about .row .image{
    border: 0.5rem solid var(--primarycolor);
    flex-basis: 75rem;
    height: 30rem;
    width: 30rem;
    margin-left: 4rem;
    position: relative;

}


.image img{
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0.85rem 0 0 1rem ;
    
}

.description{
    padding: 7rem 6rem 6rem 4.5rem;

}

.description h5{
    font-family: 'Lato', sans-serif;
    font-size: 2rem;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 1rem;
    
}

.description p{
    color: var(--darkgrey);

}

.description button{
    font-size: 1rem;
    letter-spacing: var(--mainSpacing);
    color: var(--mainwhite);
    background-color: var(--primarycolor);
    padding: 0.5rem 1rem;
    margin-top: 0.7rem;
    border: transparent;
}

#Services{
    background-color: var(--offwhite);
    padding: 4.5rem 0;
}

#Services h3{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 2.75rem;
    font-weight: 600;
    letter-spacing: var(--mainSpacing);
    margin bottom: 3rem;
}

#Services h3 span{
    color: var(--primarycolor)
}
.service{
    display: flex;
    align-items: center;
    background-color: var(--offwhite);
}

.savings{
    padding: 1.5rem 0;
}

.cardicon{
    display: flex;
    align-items: center;
}



/*font-family: 'Lato', sans-serif;
font-family: 'Poppins', sans-serif;*/