@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
body{
 font-family: 'Inter', sans-serif;;
}
.desktop-background{
 background-image:linear-gradient(180deg,
    rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
 url(./image/82a94d8456592639398bd70b59db4393\ \(1\).jpeg) ;
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
 height: 100vh;
 display: flex;
 align-items: center;
 

}
.container{
 background-color: white;
 width: 40%;
 margin: auto;
}
h2{
 font-size: 28px;
 font-weight: 700;
 text-align: center;
 margin-top: 2rem;
 
}
p{
 font-size: 14px;
 font-weight: 400;
 text-align: center;
 color: #999;
 margin-block: 2rem;
}

label {
 display: block;
 margin-bottom: 8px;
 color: #4e4e4e;
}
.login-form{
 display: flex;
 justify-content: center;
 align-items: center;
 

}
.fa-eye, .fa-envelope, .fa-lock{
 color: #bababa;
}
::placeholder{
 color: #bababa;
}
/* Custom class for input with icon */
.input-with-icon {
 position: relative;
}

/* Style for the icon in the input container */
.input-with-icon i {
 position: absolute;
 top: 50%;
 left: 10px;
 transform: translateY(-50%);
 font-size: 18px;
 color: #555; /* Adjust the color of the icon as needed */
}

input[type="email"], input[type="password"] {
 width: 400px;
 padding: 0.85rem 40px; 
 border: 1px solid #ccc;
 border-radius: 8px;
 
 
}

/* Style for the eye icon */
.password-toggle {
 position: absolute;
 top: 50%;
 right: 10%;
 transform: translateY(-50% -10%);
 cursor: pointer;
}
button {
 width: 400px;
 padding: 0.85rem;
 background-color: #F90;
 color: white;
 border: none;
 border-radius: 8px;
 cursor: pointer;
}

button:hover {
 background-color: #F90;
}
.form-group{
 margin-bottom: 2rem;
}
.checkbox{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 8.5rem;
 margin-top: 24px;
 font-size: 14px;
 
}
.keep{
 color: #404040;
}
.checkbox a{
 text-decoration: none;
 color: #F90;
 text-transform: capitalize;
 font-size: 14px;
}
.text-or{
 text-transform: uppercase;
 margin-inline: 10px;
 color: bababa;
}
.cont {
 text-align: center;
 padding: 20px; 
}

.or-wrapper {
 display: flex;
 align-items: center; 
 justify-content: center;
}

.line-1 {
 
 height: 1px;
 width: 80px;
 background-color: #bababa; 
}


 

 .g-img {
 width: 2rem;
}
.f-img{
 width: 1.6rem;
 
}
img{
 width: 100%;
 height: 100%;
}
.google{
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 0.5rem;
 border: 1px solid #cfcfcf;
 border-radius: 0.5rem;
 padding: 10px 20px;
 width: 160px;
}
.facebook{
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 0.5rem;
 border: 1px solid #cfcfcf;
 border-radius: 0.5rem;
 padding: 10px 20px;
 width: 160px;
}

.google-face{
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 12px;
}
.google a{
 text-decoration: none;
 color: #000;
 font-size: 14px;
}
.facebook  a{
 text-decoration: none;
 color: #000;
 font-size: 14px;
}
.account{
 display: flex;
 align-items: center;
 justify-content: center;
 gap: 4px;
}
.account a{
 text-decoration: none;
 color: #F90;
 font-size: 14;
 
}
.account p{
 font-size: 14px;
 color: #404040;
}



@media screen and (max-width: 768px) {
 input[type="email"], input[type="password"]{
  width: 320px;
 }
 button{
  width: 320px;
 }
 .checkbox{
  gap: 5rem;
 }
}


