@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

* {
  font-family: Inter;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 100vw;
  height: 100vh;
  display: flex;
  background: rgb(250, 247, 247);
}
main {
  width: 40vw;
  height: 65vh;
  background: white;
  margin: auto;
  text-align: center;
  padding: auto;
  border-radius: 15px;
}

h2 {
  text-transform: capitalize;
  color:#FF9900;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.75rem;
  margin-top: 3rem;
}

.code-text {
  padding: 2rem 6rem;
  /* color: #999; */
  color: #999;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.box-code {
  width: 40vw;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin-top: 10px;
}
.box-code div {
  border: 1px solid #999;
  width: 2.6875rem;
  height: 2.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.5rem;
}

button {
  width: 24.375rem;
  height: 3rem;
  padding: 10px;
  border-radius: 7px;
  border: none;
  background: #f90;
  font-size: 1rem;
  color: white;
  margin-top: 35px;
  margin-bottom: 1rem;
  cursor: pointer;
}

.resend-code a {
  text-decoration: none;
  color: #222;
}

.time {
  margin-top: 15px;
  color: #3d3a3a;
}

hr {
  width: 10rem;
  height: 0.25rem;
  margin: 20px auto;
  border: none;
  background: rgb(31, 30, 30);
  text-decoration: none;
}
