* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* Fonts */

/* font-family: 'Poppins', sans-serif; */

/* Form styles */
body {
  height: 100vh;
}
/* controls the whole form /The parent element */
.section-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/* styles for the form container itself */
.form {
  /* border: solid blue; */
  /* border-radius: 20px; */
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  margin: 0px 10px;
  border-radius: 16px;
  width: 430px;
  height: 394px;
  flex-shrink: 0;

}
/* Form header {Forgot password text}*/
.form-header {
  padding: 10px 0;
  text-align: center;
  color: #222;
  font-family: Inter;
  font-size: 20px;
  margin-top: 2.5rem;
}
/* Form paragraph text */
.form-p {
  padding: 8px 0;
  text-align: center;
  font-weight: 200;
  color:#999;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
}
/* Labels with the names of the input fields */
.label-phone, {
  font-weight: 400;
  color: #4E4E4E;
  font-size : 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;

}
.input-1,
.input-2 {
  margin: 10px 0;
  width: 97%;
  padding: 5px;
  border-width: 1px;
  outline: none;
  border-radius: 5px;
}
.hr-sec {
  display: flex;
  justify-content: center;
}
.hr-sec hr {
  margin: 0 20px;
  transform: rotate(90deg);
}
/* Submit Button */
.submit-btn {
  margin: 20px 0 30px 0;
  border-radius: 5px;
  border-width: 1px;
  border: none;
  padding: 5px;
  width: 100%;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #FF4408;
}
}
.submit-btn:hover {
  background-color: rgba(255, 68, 0, 0.863);
  width: 390px;
  padding: 12px 8px;
  justify-content: center;
  align-items: center;
  /* gap: 8px; */
  border-radius: 8px;
  background: #FF4408;
}
