@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');


* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* Fonts */

/* font-family: 'Poppins', sans-serif; */

/* Form styles */
body {
  height: 100vh;
}
/* controls the whole form /The parent element */
.section-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
/* styles for the form container itself */
.form {
  /* border: solid blue; */
  /* border-radius: 20px; */
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  padding: 10px 20px;
  margin: 5px 10px;
  /* border-radius: 16px; */
  width: 430px;
  height: 450px;
  flex-shrink: 0;

}
/* Form header {Forgot password text}*/
.form-header {
  padding: 10px 0;
  text-align: center;
  font-family: Inter;
  font-size: 28px;
  font-weight: 700;
  line-height: 34px;
  color: #FF9900;
  margin-top: 4rem;
}

/* Form paragraph text */
.form-p {
  padding: 8px 0;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #999999;
  margin-bottom: 8px;
  width: 100%;
 }

/* Labels with the names of the input fields */
.label-phone {
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  text-align: left;
  color: #4E4E4E;
}

.input-1 {
  width: 340px;
 padding: 0.85rem 40px; 
 border: 1px solid #ccc;
 border-radius: 8px;
}

.hr-sec {
  display: flex;
  justify-content: center;
}
.hr-sec hr {
  margin: 0 20px;
  transform: rotate(90deg);
}
/* Submit Button */
.submit-btn {
  margin: 40px 0 40px 0;
  padding: 1rem;
  border-radius: 8px;
  border-width: 1px;
  border: none;
  width: 100%;
  color: white;
  justify-content: center;
  align-items: center;
  background: #FF9900;
}
button a{
  text-decoration: none;
  color: white;
}
.submit-btn:hover {
  /* background-color: rgba(255, 68, 0, 0.863);
  width: 390px;
  padding: 12px 8px;
  justify-content: center;
  align-items: center;
  /* gap: 8px; */
  /* border-radius: 8px;
  background: #FF4408; */ 
}
.cont {
  text-align: center;
  padding: 20px; 
 }
 
.or-wrapper {
  display: flex;
  align-items: center; 
  justify-content: center;
  gap: 0.5rem;
 }
 .text-or{
  color: #BABABA;
  font-size: 12px;
  font-family: Inter;
 }
 
 .line-1 {
  
  height: 1px;
  width: 80px;
  background-color: #BABABA;
 }
 
 